$primary-color: #3490dc;

.btn-primary {
    background-color: $primary-color !important;
    color: #fff;
    //padding: 10px;
    //border-radius: 5px;
}

.btn-danger {
    background-color: darkred !important;
}
